.form-register{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;

  padding: 1em;
  align-items: center;

  margin-top: 1em;

  border-radius: 10px;
  background: linear-gradient(45deg, rgb(117, 255, 234), rgb(255, 99, 237));
  box-shadow: 0 0 3px 2px rgb(255, 255, 255), 0 0 0 1px rgb(255, 255, 255);

  transition: all .2s ease-in-out; /* Controla la transición */
}

.form-register::before {
  content: '';
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;

  border-radius: 10px;

  background: linear-gradient(45deg, rgb(0, 255, 217), rgb(187, 0, 255));
  z-index: -1; /* Debe estar por encima del fondo pero por debajo del contenido */

  filter: blur(10px); /* Controla la cantidad de desenfoque */

}



.form-register__row{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
}
.form-register__label{
  min-width: auto;
  text-align: left;
  width: 6em;
}
.form-register__input{
  width: 50%;
  flex-grow: 1;
  height: 1.6em;
}
.form-register__button{
  margin-inline: auto;
  width: 10em;
}


.title{
  padding: .6em 0;
}
