.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

app-nav-bar {
  flex-shrink: 0; /* Evita que la barra de navegación se reduzca */
}

.router-content {
  flex-grow: 1; /* Hace que el contenido ocupe todo el espacio restante */
  position: relative;
}
